@charset "UTF-8";

:root {

}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(imagens/fundo1-g.jpg);
    min-height: 500px;
    max-height: 1080px;
    padding-top: 40px;
    display: block;
    color: aliceblue;
}

.fm {
    text-align: left;
    padding:50px 0px 0px 0px;
    display: flex;
}

.intro {
    text-align:left;
    padding:40px 10px 0px 500px;
    display: flex;
}

main {
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 1500px;
    box-shadow: 3px, 3px, 7px black;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(98, 98, 98);
    color: aliceblue;
    display: block;
}

main > h1 {
    margin: 20px 0px;
    text-align: left;
    text-indent: 40px;
    line-height: 2em;
    font-size: 20px;
}

main > p {
    margin: 20px 0px;
    text-align: left;
    text-indent: 40px;
    line-height: 2em;
    font-size: 20px;
}

article {
    background-color: rgb(26, 20, 28);
    min-width: 150px;
    max-width: 550px;
    max-height: 980px;
    padding: 90px 210px 0px 10px;
}

.desenhotecnico{
    
}

aside {
    background-color: rgb(36, 36, 36);
    padding: 10px;
    min-width: 150px;
    max-width: 550px;
    font-size: 18px;
}

/* Primeira divisão do aside parte de cima */

.pm {
    display: flex;
}

.pcm {
    padding: 10px;
}

.pcm > h3 {
    padding: 15px;
}

.mm{
    padding: 10px;
}

.mm > h3 {
    padding: 10px;
}

/* Segunda divisão do aside, parte de baixo */

.ad {
    display: flex;
}

.at {
    padding: 10px;
}

.at > h3 {
    padding: 10px;
}

.dt {
    padding: 10px;
}

.dt > h3 {
    padding: 10px;
}