@charset "UTF-8";

body{
  background-color: #191B27;
}

main{
    background-color: #d2d2d2;
}

header{
   min-height: 500px;
   background-color: #676769;
  

}

header > h1{  
    background-color: #ffffff00;
    color: aliceblue;
    position: absolute;
    top: 29%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.p {
    background-color: #ffffff00;
    color: aliceblue;
    position: absolute;
    top: 25%;
    left: 55%;
    right: 6%;
    bottom: 0%;
    font-size: 20px;
}

main {
    background-color: #848484;
}