@charset "UTF-8";

:root {

}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: dimgray;
    min-height: 400px;
    padding-top: 40px;
    display: block;
}

main {
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 1500px;
    box-shadow: 3px, 3px, 7px black;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(98, 98, 98);
    color: aliceblue;
    display: block;
}

main > h1 {
    margin: 20px 0px;
    text-align: left;
    text-indent: 40px;
    line-height: 2em;
    font-size: 20px;
}

main > p {
    margin: 20px 0px;
    text-align: left;
    text-indent: 40px;
    line-height: 2em;
    font-size: 20px;
}

article {
    
}

aside {
    background-color: rgb(36, 36, 36);
    padding: 10px;
    min-width: 150px;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: ;
}

.pm {
    display: flex;
}

.ad {
    display: flex;
}